.box {
  width: 250px;
  height: 250px;
  margin: 50px 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 15px 30px transparentize(color('secondary'), .7);
  @media screen and (max-width: $breakpoint-xxl - 100) {
    width: 200px;
    height: 200px;
  }
  @media screen and (max-width: $breakpoint-xl) {
    width: 120px;
    height: 120px;
  }
  @media screen and (max-width: $breakpoint-md) {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  @each $name, $value in $gradient-colors { 
    &-#{$name} {
      background: $value;
      &>.icon {
        display: inline-block;
        width: 60px;
        margin-top: 60px;
        &>img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (max-width: $breakpoint-xxl - 100) {
          margin-top: 45px;
        }
        @media screen and (max-width: $breakpoint-xl) {
          margin-top: 30px;
          width: 30px;
        }
        @media screen and (max-width: $breakpoint-md) {
          margin-top: 15px;
          width: 25px;
        }
      }
      &>.text {
        margin-top: 10px;
        font-size: 24px;
        display: block;
        color: color('primary');
        @media screen and (max-width: $breakpoint-xl) {
          font-size: 18px;
        }
        @media screen and (max-width: $breakpoint-md) {
          font-size: 12px;
        }
      }
    }
  }
  .decoration {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/decoration/dec_box2.png');
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
    &-tl {
      top: -25px;
      left: -25px;
    }
    &-cl {
      top: 75px;
      left: -25px;
    }
    &-bl {
      bottom: -25px;
      left: -25px;
    }
    &-tr {
      top: -25px;
      right: -25px;
    }
    &-br {
      bottom: -25px;
      right: -25px;
    }
  }
}

.box-description {
  min-width: 100px;
  max-height: 360px;
  position: relative;
  overflow: hidden;
  background: gradient-color('primary');
  padding: 40px 80px;
  color: color('white');
  border-radius: 10px;
  @media screen and (max-width: $breakpoint-xl) {
    padding: 40px 40px;
    p:not(.read-more) {
      font-size: 12px;
    }
  }
  @media screen and (max-width: $breakpoint-lg) {
    padding: 40px 30px;
    p:not(.read-more) {
      font-size: 11px;
    }
  }
  @media screen and (max-width: $breakpoint-md) {
    max-height: 250px;
  }
  
  .read-more {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 80px 0 40px; 
    background: linear-gradient(to bottom, transparent 0%, color('primary') 60%);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    @media screen and (max-width: $breakpoint-xl) {
      font-size: 24px;
    }
  }
}