.btn {
  padding: 15px 60px;
  @media screen and (min-width: $breakpoint-xxl - 300px) {
    padding: 15px 60px;
  }
  @media screen and (min-width: $breakpoint-xxl - 100px) {
    padding: 15px 120px;
    font-size: 24px;
  }
	font-size: 18px;
	font-weight: font-weight("semibold");
	@include border-radius(5px);
  @extend %no-text-decoration;
  display: inline-block;
	&-transparet {
		background: transparent;
		@extend %fade;
		padding-top: 10px;
	}

	@each $name, $value in $colors {
		// solid
		&-#{$name} {
			border: none !important;
			background: $value;
			@include border-radius(5px);
			@extend %fade;
			&:hover {
				background: $value;
				
			}
			&.shadowed {
				@include box-shadow(0px 2px 30px transparentize($value, 0.5));
				&:hover {
					@include box-shadow(0 4px 30px transparentize($value, 0.2));
				}
			}

		}

		// outline
		&-outline-#{$name} {
			color: $value;
			background: transparent;
			border: 1px solid $value;
			@include border-radius(6px);
			@extend %fade;
			&:hover {
				background: $value;
				@if $name != "light" and $name != "white" {
					color: white;
				}
				border-color: $value;
				@include box-shadow(0px 1px 30px transparentize($value, 0.5));
			}
    }
    
		// button gradient
		&-gradient-#{$name} {
			@if $name != "light" and $name != "white" {
				color: white;
			}
			background: gradient-color($name);
			border: none !important;
			@extend %fade;
			&:hover {
				color: white !important;
				@include box-shadow(0 1px 30px transparentize($value, 0.5));
			}
			&.shadowed {
				@include box-shadow(0px 1px 30px transparentize($value, 0.5));
				&:hover {
					@include box-shadow(0 2px 30px transparentize($value, 0.2));
				}
			}
		}
  }
}