.card-group {
  overflow: auto;
  max-height: 340px;
  padding-right: 20px;
  padding-left: 40px;
  @media screen and (max-width: $breakpoint-xl) {
    padding-left: 10px;
  }
  @media screen and (max-width: $breakpoint-lg) {
    max-height: 260px;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding-left: 0px;
    max-height: 240px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    padding-left: 0px;
    max-height: 180px;
  }
  @media screen and (max-width: $breakpoint-sm - 200) {
    padding-left: 0px;
    max-height: 140px;
  }
}
.card-small {
  margin-left: auto;
  margin-bottom: 15px;
  min-height: 10px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 3px solid transparentize(color('secondary'), .3);
  cursor: pointer;
  @media screen and (max-width: $breakpoint-lg) {
    border-bottom: 1.5px solid transparentize(color('secondary'), .3);
  }
  @media screen and (max-width: $breakpoint-md) {
    padding-bottom: 15px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    padding-bottom: 40px;
  }
  @media screen and (max-width: $breakpoint-sm - 200) {
    padding-bottom: 30px;
  }
  .img-card {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    @media screen and (max-width: $breakpoint-lg) {
      margin-right: 0;
      width: 35px;
      height: 35px;
    }
    @media screen and (max-width: $breakpoint-md) {
      margin-right: 20px;
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: $breakpoint-sm - 200) {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }
  }
  .title-card {
    font-size: 18px;
    @media screen and (max-width: $breakpoint-lg) {
      font-size: 14px;
    }
    @media screen and (max-width: $breakpoint-md) {
      font-size: 12px;
    }
    @media screen and (max-width: $breakpoint-sm - 200) {
      font-size: 10px;
    }
  }
}