.carousel-control-prev, .carousel-control-next {
  img {
    @media screen and (max-width: $breakpoint-sm) {
      width: 25px;
    }
  }
}

.carousel-control-prev {
  @media screen and (min-width: $breakpoint-md) {
    left: -10px;
  }
  
}
.carousel-control-next {
  @media screen and (min-width: $breakpoint-md) {
    right: -10px;
  }
}
