.img-decorated {
  position: relative;
  width: 340px;
  height: 400px;
  @media screen and (max-width: $breakpoint-lg) {
    width: 200px;
    height: 240px;
  }
  @media screen and (max-width: $breakpoint-sm) {
    width: 180px;
    height: 220px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media screen and (max-width: $breakpoint-sm) {
      width: 90%;
      height: 100%;
    }
  }
  .img-inside {
    width: 85%;
    height: 85%;
    background-color: white;
    position: absolute;
    left: 20px;
    top: 22px;
    @media screen and (max-width: $breakpoint-sm) {
      width: 75%;
      height: 82%;
      left: 10px;
      top: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.img-lg-decorated {
  padding: 60px 0;
  width: 100%;
  height: 100%;
  // background-color: pink;
  position: relative;
  
  .img-inside {
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background-color: gray;
    position: relative;
    @media screen and (max-width: $breakpoint-xl) {
      height: 350px;
    }
    @media screen and (max-width: $breakpoint-md) {
      height: 250px;
      width: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      left: -30px;
      top: -30px;
      border-radius: 10px;
      background-color: transparentize(color('primary'), .6);
      width: 200px;
      height: 200px;
      @media screen and (max-width: $breakpoint-xl) {
        width: 150px;
        height: 150px;
      }
      @media screen and (max-width: $breakpoint-md) {
        left: -10px;
        top: -10px;
        width: 60px;
        height: 60px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}