.navbar {
  height: 110px;
  // box-sizing: border-box;
  position: relative;
  z-index: 99;
  background: transparent;
  @media screen and (max-width: $breakpoint-lg) {
    height: unset;
    background: color('white');
    box-shadow: 0 15px 30px rgba(109, 109, 109, 0.384);
    min-height: 100px;
  }
  &-brand {
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 10px;
      @media screen and (max-width: $breakpoint-xxl - 200px) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      float: left;
      font-size: 38px;
      @media screen and (max-width: $breakpoint-xxl - 200px) {
        font-size: 24px;
      }
    }
  }
  &-nav {
    .nav-item {
      
      .dropdown-menu {
        background-color: white;
        .dropdown-item {
          font-size: 10px;
        }
      }
      .nav-link {
        font-size: 18px;
        transition: all .5s;
        
        @media screen and (min-width: $breakpoint-lg) {
          &:focus {
            color: gray;
            font-weight: bold;
            transform: scale(1.2, 1.2);
          }
          &:hover {
            color: white;
            font-weight: bold;
            transform: scale(1.2, 1.2);
          }
          color: white;
        }
        @media screen and (max-width: $breakpoint-xxl - 100px) {
          font-size: 12px; 
        }
        @media screen and (max-width: $breakpoint-xxl - 200px) {
          font-size: 12px; 
          margin-right: 5px;
        }
        @media screen and (max-width: $breakpoint-xxl - 500px) {
          font-size: 10px; 
          margin-right: 5px;
        }
      }
      
      @media screen and (min-width: $breakpoint-xxl - 180px) {
        margin-right: 30px;
      }

      &.focus-item {
        background: gradient-color('primary');
        border-radius: 20px;
        padding: 0 10px;
        @media screen and (max-width: $breakpoint-lg) {
          width: 200px;
          padding: 0 20px;
          margin-top: 10px;
          text-align: center;
          margin-left: auto;
        }
        @media screen and (max-width: $breakpoint-sm) {
          width: 100%;
          padding: 0 20px;
          margin-top: 10px;
          text-align: center;
        }
        .dropdown-menu {
          background: gradient-color('primary');
          padding: 10px;
          color: white;
          @media screen and (max-width: $breakpoint-lg) {
            padding: 0;
            background: transparent;
            border: none;
            padding-bottom: 10px;  
          }
          
          .dropdown-item {
            color: white;
            @media screen and (max-width: $breakpoint-lg) {
              font-size: 10px;
              color: white; 
            }
            &:hover {
              background-color: white;
              border-radius: 10px;
              color: color('primary')
            }
          }
        }
        .nav-link {
          color: white;
          &:focus {
            color: white;
            font-weight: bold;
            padding: 10px 20px;
          }
          &:hover {
            color: white;
            font-weight: bold;
            padding: 10px 20px;
          }
        }
      }
    }
    
  }
}