.nav {
  &-pills {
    text-align: center;
    min-width: 50px;
    .nav-item {
      display: inline-block;
      margin: 0 auto;
      flex-basis:200px;
      @media screen and (max-width: $breakpoint-xl) {
        flex-basis: unset;
        flex: 1;
      }
      .nav-link {
        color: color('secondary');
        font-size: 18px !important;
        &.active {
          background: gradient-color('primary');
          color: white;
        }
        @media screen and (max-width: $breakpoint-md) {
          font-size: 12px !important;
        }
      }
    }
  }
}