@each $name, $value in $colors {
  .tx-#{$name} {
      color: $value !important;
  }
}
@each $size, $value in $font-weight {
  .tx-weight-#{$size} {
      font-weight: $value;
  }
}
@for $i from 8 to 118{
  .tx-#{$i}{font-size: #{$i}px;}
}

.title-row {
  overflow: hidden;
  h1 {
    font-size: 42px;
    margin: 0;
    @media screen and(max-width: $breakpoint-lg) {
      font-size: 32px;
    }
  }
  hr {
    width: 200px;
    border: .4px solid transparentize(color('secondary'),.3);
    display: inline-block;
  }
}

.title-project {
  text-align: right;
  padding-right: 50px;
  box-sizing: border-box;
  @media screen and(max-width: $breakpoint-md) {
    padding-right: 0px;
  }
  h1 {
    font-size: 42px;
    font-weight: 600;
    @media screen and(max-width: $breakpoint-xl) {
      font-size: 32px;
    }
    @media screen and(max-width: $breakpoint-lg) {
      font-size: 24px;
    }
    @media screen and(max-width: $breakpoint-md) {
      font-size: 18px;
    }
    @media screen and(max-width: $breakpoint-sm) {
      font-size: 16px;
    }
  }
  span {
    display: block;
    @media screen and(max-width: $breakpoint-xl) {
      font-size: 18px;
    }
    @media screen and(max-width: $breakpoint-lg) {
      font-size: 16px;
    }
    @media screen and(max-width: $breakpoint-md) {
      font-size: 14px;
    }
    @media screen and(max-width: $breakpoint-sm) {
      font-size: 12px;
    }
  }
}

.long-description {
  font-size: 18px;
  @media screen and(max-width: $breakpoint-sm) {
    font-size: 11px;
  }
}