.container {
  @media screen and (min-width: $breakpoint-xxl - 680px) {
    max-width: 1100px;
  }
  @media screen and (min-width: $breakpoint-xxl - 660px) {
    max-width: 1200px;
  }
  @media screen and (min-width: $breakpoint-xxl - 480px) {
    max-width: 1300px;
  }
  @media screen and (min-width: $breakpoint-xxl - 280px) {
    max-width: 1600px;
  }
  @media screen and (min-width: $breakpoint-xxl - 180px) {
    max-width: 1650px;
  }
  @media screen and (min-width: $breakpoint-xxl) {
    max-width: 1700px;
  }
}

hr.divider {
  border: 1px solid rgb(214, 214, 214);
  width: 50%;
}
hr.divider-sm {
  border: .5px solid color('secondary');
  width: 20px;
}