// ----------------------------------------------------------
// PARENT VARIABLES
// ----------------------------------------------------------

%fade{
  @include transition(0.5s all ease);
  &:hover{
      @include transition(0.5s all ease);
  }
}
%no-text-decoration{
  a{
      text-decoration: none !important;
      display: block !important;
      cursor: pointer !important;
      &:hover{
          text-decoration: none !important;
      }
  }
}
