$colors: (

	/* ----------- BEGIN CUSTOMIZATION ----------------- */
	// primary Color
	'primary'		: #86B4E5,
	'secondary'		: #7e7d7d,
	'success'		: #4FD69C,
	'danger'		: #FF6C6C,
	'warning'		: #F2A66B,
	'info'			: #C2DFF9,
	'light'			: #FDFDFD,
	'dark'			: #4A4B60,
	'white'			: #FFFFFF,
	'darkblue'			: #7E98C4
	
	/* ----------- END CUSTOMIZATION ----------------- */

	
);

// Gradient Color
$gradient-colors: (
	'primary'	: linear-gradient(to right, #A2D1FB 0.67%, #6AA8DE 100%),
	'white'		: white
);

$border-color:transparentize(map-get($colors, "secondary"), $amount: 0.8);

// Default Font Size
$base-font-size : 18px;

$font-weight: (
	'9' 	: 900,
	'8'		: 800,
	'7'		: 700,
	'6'  	: 600,
	'5'  	: 500,
	'4'  	: 400,
	'3'  	: 300,
	'2'		: 200,
);

// border variables
$radius: (
	'cirlce'    : 50%,
	'lg'		: 50px,
	'md'		: 30px,
	'sm'		: 20px,
	'xs'		: 10px,
	'xxs'		: 5px,
	'none'	    : none,
);

// Font Family
$base-font-family : 'Montserrat', sans-serif; 

// Responsive Breakpoint
$breakpoint-xs	: 480px;
$breakpoint-sm	: 576px;
$breakpoint-md	: 768px;
$breakpoint-lg	: 992px;
$breakpoint-xl	: 1200px;
$breakpoint-xxl	: 1980px;

// breakpoint option

// @media screen and (max-width: $breakpoint-xxl - 100px) {
// 	width: 1000px;
// }
// @media screen and (max-width: $breakpoint-xxl - 200px) {
// 	width: 900px;
// }
// @media screen and (max-width: $breakpoint-xxl - 500px) {
// 	width: 700px;
// }