// Helper
@import '../helper/base';



.homepage {
  background-color: white;
  font-family: 'Montserrat', sans-serif !important;
  &-home {
    background-color: color('light');
    @media screen and (max-width: $breakpoint-lg) {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 100%,rgba(255, 255, 255, 0.7) 100%),url('../img/picture/bg-full.JPG');  
    }

    height: 1040px;
    @media screen and (max-width: $breakpoint-xxl - 100) {
      height: 940px;
    }
    @media screen and (max-width: $breakpoint-xxl - 200) {
      height: 820px;
    }
    @media screen and (max-width: $breakpoint-xxl - 500) {
      height: 740px;
    }
    @media screen and (max-width: $breakpoint-md) {
      height: 780px;
    }
    
    
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;
    box-sizing: border-box;
    margin-top: -110px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    .img-bg {
      position: absolute;
      width: 1400px;
      right: -200px;
      top: -100px;
      @media screen and (min-width: $breakpoint-xxl + 200px) {
        display: none;
      }
      @media screen and (max-width: $breakpoint-xxl - 100px) {
        width: 1200px;
        right: -220px;
      }
      @media screen and (max-width: $breakpoint-xxl - 200px) {
        width: 1100px;
        right: -240px;
      }
      @media screen and (max-width: $breakpoint-xxl - 500px) {
        right: -250px;
        top: -100px;
        width: 1000px;
      }
      @media screen and (max-width: $breakpoint-xl) {
        right: -230px;
        top: -100px;
        width: 900px;
      }
      @media screen and (max-width: $breakpoint-lg) {
        display: none;
      }

    }
    &-info {
      min-height: 660px;
      @media screen and (max-width: $breakpoint-xxl - 100px) {
      	min-height: 560px;
      }
      @media screen and (max-width: $breakpoint-xxl - 200px) {
        min-height: 460px;
      }
      @media screen and (max-width: $breakpoint-xxl - 500px) {
        min-height: 400px;
      }
      img {
        width: 220px;
        height: 220px;
        @media screen and (max-width: $breakpoint-xxl - 200px) {
          width: 180px;
          height: 180px;
        }
        @media screen and (max-width: $breakpoint-xxl - 300px) {
          width: 160px;
          height: 160px;
        }
        @media screen and (max-width: $breakpoint-xxl - 500px) {
          width: 150px;
          height: 150px;
        }
        @media screen and (max-width: $breakpoint-xl) {
          width: 120px;
          height: 120px;
        }
      }
      h1 {
        font-size: 60px;
        @media screen and (max-width: $breakpoint-xxl - 100px) {
          font-size: 48px;
        }
        @media screen and (max-width: $breakpoint-xxl - 200px) {
          font-size: 32px;
        }
        @media screen and (max-width: $breakpoint-xl) {
          font-size: 24px;
        }
      }
      p {
        font-size: 28px;
        @media screen and (max-width: $breakpoint-xxl - 100px) {
          font-size: 24px;
        }
        @media screen and (max-width: $breakpoint-xl) {
          font-size: 16px;
        }
      }
      a {
        padding: 10px 60px;
        font-size: 24px;
        @media screen and(max-width: $breakpoint-xxl - 200) {
          font-size: 12px;
        }
      }
    }
    // end of info

    &-address {
      p {
        font-size: 22px;
        @media screen and (max-width: $breakpoint-xxl - 200px) {
          font-size: 18px;
        }
        @media screen and (max-width: $breakpoint-xxl - 500px) {
          font-size: 14px;
        }
        @media screen and (max-width: $breakpoint-xl) {
          font-size: 12px;
        }
      }
    }
    // end of address
    &-advance {
      box-shadow: 2px 15px 30px rgba(0,0,0,.2);
      border-radius: 15px;
      margin-top: -80px;
      position: relative;
      z-index: 99;
      h3 {
        font-size: 32px;
        @media screen and (max-width: $breakpoint-lg) {
          font-size: 24px;
        }
        @media screen and (max-width: $breakpoint-md) {
          font-size: 18px;
        }
      }
      span {
        font-size: 24px;
        @media screen and (max-width: $breakpoint-lg) {
          font-size: 16px;
        }
        @media screen and (max-width: $breakpoint-md) {
          font-size: 12px;
        }
      }
    }
    // end of advabce


  }
  // end of home
  &-about {
    margin-top: -110px;
    padding-top: 220px;
    min-height: 700px;
    background-color: white;
    box-sizing: border-box;
    @media screen and (max-width: $breakpoint-md) {
      min-height: 600px;
    }
    p {
      font-size: 18px;
      @media screen and (max-width: $breakpoint-lg) {
        font-size: 16px;
      }
      @media screen and (max-width: $breakpoint-md) {
        font-size: 12px;
      }
    }
  }
  // end of about
  &-division {
    background-color: color('light');
    padding-top: 110px;
    min-height: 1180px;
    @media screen and (max-width: $breakpoint-xl) {
      padding-top: 50px;
      min-height: 800px;
    }
    @media screen and (max-width: $breakpoint-md) {
      min-height: 700px;
    }
  }
  // end of division

  &-teams {
    padding-top: 110px;
    min-height: 700px;
    background-color: white;
    @media screen and (max-width: $breakpoint-md) {
      padding-top: 50px;
      min-height: 400px;
    }
    .description-teams {
      h1 {
        @media screen and (max-width: $breakpoint-lg) {
          font-size: 18px;
          font-weight: 700;
        }
        @media screen and (max-width: $breakpoint-sm) {
          font-size: 14px;
        }
      }
      h4 {
        @media screen and (max-width: $breakpoint-lg) {
          font-size: 16px;
          font-weight: 500;
        }
        @media screen and (max-width: $breakpoint-sm) {
          font-size: 12px;
        }
      }
      p {
        @media screen and (max-width: $breakpoint-lg) {
          font-size: 14px;
        }
        @media screen and (max-width: $breakpoint-sm) {
          font-size: 11px;
        }
      }
    }
  }
  // end of teams

  &-project {
    padding-top: 110px;
    min-height: 700px;
    background-color: color('light');
    @media screen and (max-width: $breakpoint-md) {
      padding-top: 50px;
      min-height: 400px;
    }
  }
  // end of project

  &-detail-project {
    padding: 110px 180px;
    min-height: 800px;
    background-color: white;
    @media screen and (max-width: $breakpoint-xl) {
      padding: 110px 140px;
    }
    @media screen and (max-width: $breakpoint-lg) {
      padding: 110px 0px;
    }
    @media screen and (max-width: $breakpoint-md) {
      padding-top: 50px;
      min-height: 400px;
    }
  }
  // end of detail project

  &-footer {
    padding: 110px 0 0;
    min-height: 500px;
    background-color: color('light');
    .logo-footer {
      width: 300px;
    }
  }

}